body {
    margin: 0;
    background: $background-dark;
    color: white;
    // background: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1.00xw:0.669xh;0,0.190xh&resize=1200:*);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: inherit; //gets rid of a's blue color
}
