@font-face {
    font-family: "Futura Medium";
    src: url(../fonts/FuturaMedium.otf) format("opentype");
}

@font-face {
    font-family: "Futura-Dem";
    src: url(../fonts/Futura-Dem.woff) format("woff");
}

@font-face {
    font-family: "Futura-Boo";
    src: url(../fonts/Futura-Boo.woff) format("woff");
}
