@font-face {
    font-family: "Futura Medium";
    src: url(../fonts/FuturaMedium.otf) format("opentype");
}

@font-face {
    font-family: "Futura-Dem";
    src: url(../fonts/Futura-Dem.woff) format("woff");
}

@font-face {
    font-family: "Futura-Boo";
    src: url(../fonts/Futura-Boo.woff) format("woff");
}

@font-face {
    font-family: "Gramatika Bold";
    src: url(../fonts/GramatikaBold.woff2) format("woff2");
}

@font-face {
    font-family: "Sofia Pro";
    src: url(../fonts/SofiaProSoftRegular.woff2) format("woff2");
}

@font-face {
    font-family: "Abril Fat";
    src: url(../fonts/AbrilFatface-Regular.ttf) format("truetype");
}
