.detailBanner {
    position: relative;
    width: 100%;
    padding-bottom: 15rem;
    @media screen and (min-width: $sm_breakpoint) {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 0rem;
    }
    img {
        object-fit: cover;
        @media screen and (min-width: $sm_breakpoint) {
            width: 60%;
            height: 100vh;
        }
        width: 100%;
    }
    background: #020b16;
}

.scrollDownWrap {
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 55%;
    top: 60%;
    @media screen and (min-width: 400px) {
        left: 75%;
    }
    @media screen and (min-width: $sm_breakpoint) {
        left: -8rem;
        top: 50%;
    }
    h1 {
        text-transform: uppercase;
        min-width: 8rem;
        font-size: 1.4rem;
        margin: 0;
        width: 10rem;
    }
    .scrollDownBlock {
        margin-left: 2rem;
        width: 10rem;
        height: 0.1rem;
        background-color: white;
    }
}
.backButton {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 5rem;
    color: white;
    @media screen and (min-width: $sm_breakpoint) {
        top: 80%;
        font-size: 10rem;
        font-size: 6rem;
    }
}

.detailTitleWrap {
    position: relative;
    margin: 0;
    display: inline;
    top: -2.5rem;
    left: 1.5rem;
    @media screen and (min-width: $sm_breakpoint) {
        position: absolute;
        width: 70%;
        top: 10%;
        left: 5%;
    }

    @media screen and (min-width: $lg_breakpoint) {
        left: 8%;
        width: 50%;
    }
}
.detailTitle {
    display: inline;
    font-size: 3.8rem;
    letter-spacing: 1rem;
    font-weight: normal;
    text-shadow: 0 3px 10px rgb(2 11 22 / 50%);
    left: 1.5rem;
    margin-bottom: 4rem;
    @media screen and (min-width: $sm_breakpoint) {
        font-size: 6rem;
    }

    @media screen and (min-width: $lg_breakpoint) {
        font-size: 7.6rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        font-size: 12rem;
    }
}

.careerDate {
    text-transform: uppercase;
}
.careerColWrap {
    color: #828c96;
}

.accomplishmentColWrap {
    ul {
        padding-left: 2rem;

        li {
            margin-bottom: 1rem;

            font-size: 1.4rem;
        }
    }
}
