.backWrap {
    display: flex;
    padding: 2rem;
    padding-bottom: 10rem;
    display: flex;

    justify-content: center;
}

.backInnerWrap {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: inherit;
    .backBox {
        width: 10rem;
        height: 0.25rem;
        background-color: black;
        margin-right: 2rem;
    }
    h1 {
        font-size: 3rem;
        text-transform: uppercase;
        color: inherit;
        font-weight: 200;
        letter-spacing: 0.4rem;
    }
}

.backPurpleDarkBackground {
    background: $background-purple-dark;
    color: white;
}
.whiteBackBox {
    background-color: white !important;
}
