.embla {
    position: relative;
    // background-color: #f7f7f7;
    background: black;
    // max-width: 670px;
    margin-left: auto;
    margin-right: auto;
}

.embla__viewport {
    overflow: hidden;
    width: 100%;
}

.embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
}

.embla__viewport.is-dragging {
    cursor: grabbing;
}

.embla__container {
    user-select: none;
    margin-top: -10px;
    // height: 200px;
    // height: 55rem;
    // @media screen and (min-width: $sm_breakpoint) {
    //     height: 65rem;
    // }
    // @media screen and (min-width: $md_breakpoint) {
    //     min-height: 80rem;
    // }
    // @media screen and (min-width: $xl_breakpoint) {
    //     min-height: 100rem;
    // }

    height: 60rem;
    @media screen and (min-width: $sm_breakpoint) {
        height: 70rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        height: 70rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        height: 75rem;
    }

    //padding-bottom: 10rem;
}

.embla__slide {
    position: relative;
    height: 100%;
}

.embla__slide__inner {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.embla__slide__img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    transform: translate(-50%, -50%);
}

.is-selected {
    background: white !important;
    opacity: 1;
}
.overwatch2DotWrapAndButton {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    @media screen and (min-width: $lg_breakpoint) {
        background: none;
    }
}

.overwatch2DotWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overwatch2DotParentWrap {
    position: relative;
    margin-bottom: 3rem;
    &:first-of-type {
        margin-top: 3rem;
    }
    &:last-of-type {
        .overwatch2DotBackground {
            min-width: 12rem;
        }
    }
}
.overwatch2DotBackground {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -0.5rem;
    background: black;
    cursor: pointer;
    border-radius: 0.2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    .overwatch2DotText {
        font-family: "Config", sans-serif;
        margin: 0;
        margin-right: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.7rem;
        display: block;
    }
}
.overwatch2Dot {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    position: relative;
    z-index: 1;
    border: 0.2rem solid white;
    cursor: pointer;
    outline: none !important;
    background: transparent;
}

.overwatch2CarouselButton {
    background: transparent;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    outline: none !important;
    box-shadow: none !important;
    border: none;
    .overwatch2CarouselArrow {
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 2.5rem;
        margin: 0;
        margin-right: 0.25rem;
        padding: 0;
    }
}

.overwatch2SlideInner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
