.embla {
    position: relative;
    // background-color: #f7f7f7;
    background-image: transparent;
    // max-width: 670px;
    margin-left: auto;
    margin-right: auto;
}

.embla__viewport {
    overflow: hidden;

    width: 100%;
}

// .embla__viewport.is-draggable {
//     cursor: move;
//     cursor: grab;
// }

// .embla__viewport.is-dragging {
//     cursor: grabbing;
// }

.embla__container {
    user-select: none;

    // height: 200px;
    // height: 55rem;
    // @media screen and (min-width: $sm_breakpoint) {
    //     height: 65rem;
    // }
    // @media screen and (min-width: $md_breakpoint) {
    //     min-height: 80rem;
    // }
    // @media screen and (min-width: $xl_breakpoint) {
    //     min-height: 100rem;
    // }

    height: 100vh;
    width: 100vw;

    //padding-bottom: 10rem;
}

.embla__slide {
    position: relative;
    height: 100%;
}

.embla__slide__inner {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.embla__slide__img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    transform: translate(-50%, -50%);
}

.is-selected {
    // background-image: $background-dark;
}

.dot-is-selected {
    background: white;
    transition: all 4s ease-in;

    padding: 0rem 6.5rem 0 0 !important;
}
.overwatch2DotWrapAndButton {
    position: fixed;
    top: 80%;
    right: 20vw;
    transform: translateX(-50%) rotate(270deg);
    @media screen and (min-width: 380px) {
        right: 30vw;
    }
    @media screen and (min-width: $sm_breakpoint) {
        right: 35vw;
    }
    @media screen and (min-width: $md_breakpoint) {
        right: 38vw;
    }
    @media screen and (min-width: $lg_breakpoint) {
        display: flex;
        flex-direction: column;
        top: 50%;
        transform: translateY(-50%);
        right: 2rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        background: none;
    }
}

.overwatch2DotWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
}

.overwatch2DotParentWrap {
    position: relative;
    margin-bottom: 3rem;
    &:first-of-type {
        margin-top: 3rem;
    }
}

.overwatch2Dot {
    // border-radius: 50%;'
    border-radius: 0.25rem;
    width: 3rem;
    height: 0.3rem;
    position: relative;
    z-index: 1;

    cursor: pointer;
    outline: none !important;
    background: white;
    transition: all 0.5s ease-in;
}

.overwatch2SlideInner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
