.storyTimelineContainer {
    position: relative;
    width: 35%;
    height: 100%;
    @media screen and (min-width: $sm_breakpoint) {
        width: 40%;
    }

    @media screen and (min-width: $lg_breakpoint) {
        width: 50%;
    }
}

.storyTimelineProgress {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 0.8rem;
    background-color: hsla(0, 0%, 100%, 0.8);
}

.storyTimelineProgressNotFilled {
    background-color: rgb(231, 222, 222, 0.8);
}

.storyTimelineProgressControl {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.storyTimelineProgressControlSectionWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    cursor: pointer;
    &:before {
        content: "";
        background: white;

        cursor: pointer;
        width: 1.2rem;
        height: 1.2rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: -1;
    }
}

.storyTimelineProgressTitleWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // top: 2rem;
    text-align: right;
}
.storyTimelineProgressTitle {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: normal;
    text-transform: lowercase;
    font-weight: 700;
    width: 8rem;
    margin-right: 11rem;
    @media screen and (min-width: $md_breakpoint) {
        font-size: 1.4rem;
        min-width: 12rem;
        margin-right: 16rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        font-size: 1.8rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        font-size: 2rem;
        display: inline;
    }
}

.storyContainer {
    background-image: $background-dark;
    display: flex;
    color: white;
    position: relative;
    height: 100%;
    width: 100%;
}

.storyTextInnerWrap {
    width: 100%;
}
.storyTextWrap {
    display: flex;
    letter-spacing: 0.1rem;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
    padding-right: 6rem;
    width: 80%;
    height: 100%;
    @media screen and (min-width: $sm_breakpoint) {
        width: 60%;
        padding-right: 0rem;
    }

    @media screen and (min-width: $lg_breakpoint) {
        width: 50%;
        padding: 1rem 4rem;
    }
    .storyTitle {
        margin: 0;
        letter-spacing: 0.3rem;
        font-size: 1.2rem;
        margin-bottom: 2rem;
        @media screen and (min-width: $sm_breakpoint) {
            font-size: 2.2rem;
        }
        @media screen and (min-width: $lg_breakpoint) {
            font-size: 2.6rem;
        }
        @media screen and (min-width: $xl_breakpoint) {
            font-size: 3rem;
        }
        font-weight: bold;
    }
    .storyDesc {
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 2.1rem;
        padding-left: 2rem;
        @media screen and (min-width: $sm_breakpoint) {
            font-size: 1.2rem;
        }
        @media screen and (min-width: $md_breakpoint) {
            font-size: 2.1rem;
        }

        @media screen and (min-width: $lg_breakpoint) {
            font-size: 2.4rem;
        }
        @media screen and (min-width: $xl_breakpoint) {
            font-size: 2.7rem;
        }

        letter-spacing: 0.2rem;
        line-height: 1.3;
        li {
            margin-bottom: 2rem;
        }
    }
}
