.overwatch2SlideContainer {
    position: absolute;
    top: -10%;
    // right: -10rem;
    right: -10vw;
    width: 120vw;
    height: 120%;

    overflow-x: hidden;
    overflow-y: hidden;
}

.overwatch2CarouselArrowUp,
.overwatch2CarouselArrowDown {
    color: black;
    font-size: 2rem;
}
