.transitionRed {
    background-color: red;
    height: 100%;
    width: 5rem;
    position: absolute;
    top: 0;
    left: 0;
}

.transitionDark {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-image: $background-dark;

    height: 100%;
    overflow: hidden;
    z-index: 200;
}

.contentSlideContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}
.overwatch2SlideParentContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.contentImageAndTextWrap {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 4rem;
    @media screen and (min-width: 380px) {
        width: 100%;
        height: 100%;
    }
    @media screen and (min-width: $sm_breakpoint) {
        flex-direction: row-reverse;
        width: 100%;
        height: 100%;
        padding-left: 2rem;
    }

    @media screen and (min-width: $xl_breakpoint) {
        padding-left: 6rem;
    }
}

.contentTitle {
    position: relative;
    margin: 0;

    font-size: 4rem;
    font-weight: bold;
    bottom: 0;
    left: 0;
    @media screen and (min-width: $sm_breakpoint) {
        font-weight: normal;
        font-size: 6rem;
        width: 70%;
    }
    @media screen and (min-width: $md_breakpoint) {
        font-size: 10rem;
        width: 40%;
    }
    @media screen and (min-width: $xl_breakpoint) {
        font-size: 12rem;
        letter-spacing: 1.5rem;
    }

    line-height: 1;
    letter-spacing: 1rem;
    margin-bottom: 1.6rem;
    font-weight: normal;
    text-shadow: 0 10px 30px rgb(2 11 22 / 50%);
}

.contentImage {
    position: relative;
    margin-top: 5rem;
    width: 100%;

    @media screen and (min-width: $sm_breakpoint) {
        margin-top: 13rem;
        position: absolute;
        // right: 5rem;
        height: 55%;
        top: 0;
        width: 60%;
        max-height: 70%;
        margin-right: 5rem;
    }

    @media screen and (min-width: $md_breakpoint) {
        width: 60%;
        height: 55%;
        margin-right: 10rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        margin-right: 10rem;
        height: 65%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.redBlocksWrap {
    display: block;
}
.redBlock {
    width: 8.8rem;
    height: 0.4rem;
    border-radius: 5px;
    background: #ff4d5a;
    margin-bottom: 1rem;
}
.secondRedBlock {
    margin-left: 4rem;
}

.contentTextWrap {
    position: relative;
    top: -4rem;
    width: 100%;
    height: 100%;
    text-align: left;
    margin-top: 1rem;
    @media screen and (min-width: $sm_breakpoint) {
        position: relative;
        left: 2rem;
        top: 20%;
    }
    color: white;

    letter-spacing: 0.1rem;
    text-align: left;
    .email,
    .contactPhone {
        text-shadow: 0 10px 30px rgb(2 11 22 / 50%);
        font-weight: normal;
        font-size: 1.2rem;
        @media screen and (min-width: $sm_breakpoint) {
            font-size: 2.4rem;
            line-height: 1.4;
        }

        @media screen and (min-width: $md_breakpoint) {
            width: 60%;
            font-size: 2.8rem;
            letter-spacing: 0.1rem;
        }
        @media screen and (min-width: $xl_breakpoint) {
        }
    }
}

.contentDesc {
    text-shadow: 0 10px 30px rgb(2 11 22 / 50%);
    font-weight: normal;
    font-size: 1.2rem;
    @media screen and (min-width: $sm_breakpoint) {
        font-size: 2.4rem;
        line-height: 1.4;
        width: 40%;
    }

    @media screen and (min-width: $md_breakpoint) {
        font-size: 2.8rem;
        letter-spacing: 0.1rem;
    }
}

.showMoreButton {
    pointer-events: visible;
    font-size: 1.4rem;
    margin-top: 1rem;
    padding: 1rem 2rem;
    @media screen and (min-width: $sm_breakpoint) {
        font-size: 1.8rem;
        padding: 1.8rem 3.2rem;
    }
    border-radius: 5rem;
    color: #fff;
    background: $light-red;
    cursor: pointer;
    border: none;
    outline: none !important;
    box-shadow: none !important;
}
