.meBackground {
    position: absolute;
    border-radius: 0.25rem;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 70%;
    @media screen and (min-width: $sm_breakpoint) {
        top: 50%;
        width: 50%;
    }

    object-fit: cover;
    object-position: 50% 0%;
}

.landingNameAndRoleWrap {
    position: absolute;
    width: 36rem;
    height: 36rem;
    position: absolute;
    top: 20%;
    left: 15%;
    text-shadow: 0 10px 30px rgb(2 11 22 / 50%);
    width: 50%;
    @media screen and (min-width: $sm_breakpoint) {
        width: 35%;
    }
    // @media screen and (min-width: $md_breakpoint) {
    // }
    @media screen and (min-width: $lg_breakpoint) {
        width: 30%;
        top: 10%;
        left: 15%;
    }

    @media screen and (min-width: $xl_breakpoint) {
        left: 15%;
    }
}
.landingName {
    font-size: 3.8rem;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-bottom: 1.6rem;
    font-weight: normal;
    @media screen and (min-width: $sm_breakpoint) {
        font-size: 6rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        font-size: 7.6rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        font-size: 12rem;
    }
}

.landingRole {
    text-transform: lowercase;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
    text-shadow: 0 10px 30px rgb(2 11 22 / 50%);
    @media screen and (min-width: $sm_breakpoint) {
        font-size: 2.2rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        font-size: 2.8rem;
    }
}
