.transition {
    &--red {
        background-color: red;
        height: 100%;
        width: 5rem;
        position: absolute;
        top: 0;
        left: 0;
    }
    &--dark {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        background-image: $background-dark;

        height: 100%;
        overflow: hidden;
        z-index: 200;
    }
}

.content-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    &__image-and-text {
        filter: "blur(8px)";
        img {
            filter: "blur(8px)";
        }
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem 3.5rem;
        @media screen and (min-width: 380px) {
            width: 100%;
            height: 100%;
        }
        @media screen and (min-width: $sm_breakpoint) {
            flex-direction: row-reverse;
            width: 100%;
            height: 100%;
            padding-left: 2rem;
        }

        @media screen and (min-width: $xl_breakpoint) {
            padding-left: 6rem;
        }
        &-text {
            position: relative;
            top: -10rem;
            left: -1.5rem;
            width: 100%;
            height: 100%;
            text-align: left;
            margin-top: 1rem;
            @media screen and (min-width: $sm_breakpoint) {
                position: relative;
                left: 2rem;
                top: 20%;
            }
            color: white;

            letter-spacing: 0.1rem;
            text-align: left;
            &-title {
                position: relative;
                margin: 0;

                font-size: 4.6rem;
                font-weight: bold;
                bottom: 0;
                left: 0;
                @media screen and (min-width: $sm_breakpoint) {
                    font-weight: normal;
                    font-size: 6.6rem;
                    width: 70%;
                }
                @media screen and (min-width: $md_breakpoint) {
                    font-size: 8rem;
                    width: 70%;
                }
                @media screen and (min-width: $lg_breakpoint) {
                    font-size: 10rem;
                }
                // @media screen and (min-width: $xl_breakpoint) {
                //     font-size: 12rem;
                //     letter-spacing: 1.5rem;
                // }

                line-height: 1;
                letter-spacing: 1rem;
                margin-bottom: 1.6rem;
                font-weight: normal;
                text-shadow: 0 10px 30px rgb(2 11 22 / 50%);
            }
            &-desc {
                text-shadow: 2px 2px black;
                font-weight: normal;
                font-size: 1.2rem;
                @media screen and (min-width: $sm_breakpoint) {
                    font-size: 2rem;
                    line-height: 1.4;
                    width: 40%;
                }

                @media screen and (min-width: $md_breakpoint) {
                    font-size: 2.4rem;
                    letter-spacing: 0.1rem;
                }
            }
        }
        &-image {
            position: relative;
            margin-top: 5rem;
            width: 100%;
            height: 48vh;

            @media screen and (min-width: $sm_breakpoint) {
                margin-top: 13rem;
                position: absolute;
                // right
                height: 60%;
                top: 0;
                width: 65%;
            }

            @media screen and (min-width: $md_breakpoint) {
                width: 60%;
                height: 60%;
            }
            @media screen and (min-width: $lg_breakpoint) {
                height: 60%;
                margin-right: 10rem;
            }
            @media screen and (min-width: $xl_breakpoint) {
                margin-right: 10rem;
                height: 65%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                &:first-of-type {
                    object-position: 20% 40%;
                }
            }
        }
    }

    &__show-more-button {
        pointer-events: visible;
        font-size: 1.4rem;
        margin-top: 1rem;
        padding: 1rem 2rem;
        @media screen and (min-width: $sm_breakpoint) {
            font-size: 1.8rem;
            padding: 1.8rem 3.2rem;
        }
        border-radius: 5rem;
        color: #fff;
        background: $light-red;
        cursor: pointer;
        border: none;
        outline: none !important;
        box-shadow: none !important;
        a {
            width: 100%;
            height: 100%;
        }
    }
    &__pfp-and-title {
        //I CHEESED THE MARGIN BOTTOM SPACINGS FOR THIS
        // TURN ON BACKGORUND RED AND YOU KNOW WHAT I MEAN
        display: flex;
        align-items: flex-end;
        align-items: center;

        flex-direction: column-reverse;
        @media screen and (min-width: $sm_breakpoint) {
            width: 20rem;
            height: 20rem;
            flex-direction: row;
            align-items: flex-end;
        }
    }
    &__pfp-container {
        position: relative;
        margin-right: 2rem;
        margin-bottom: 1.6rem;
        width: 12rem;
        height: 12rem;
        border-radius: 10rem;
        background-color: #e6e7ff;
        border-radius: 50%;
        img {
            background-color: #e6e7ff;
        }
    }
    &__pfp {
        @media screen and (min-width: $sm_breakpoint) {
            width: 16rem;
            height: 16rem;
            object-position: 50% 1rem;
        }
        @media screen and (min-width: $lg_breakpoint) {
            width: 22rem;
            height: 22rem;
        }
        @media screen and (min-width: $md_breakpoint) {
            width: 20rem;
            height: 20rem;
        }

        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 50%;
        object-position: 50% 0.6rem;
        width: 13rem;
        height: 13rem;
    }
}

.red-blocks {
    display: block;
    &--first-block,
    &--second-block {
        width: 8.8rem;
        height: 0.4rem;
        border-radius: 5px;
        background: #ff4d5a;
        margin-bottom: 1rem;
    }
    &--second-block {
        margin-left: 4rem;
    }
}

.email-and-contact {
    margin-top: 2.4rem;
    .contact {
        margin-top: 1rem;
    }
    .email,
    .contact {
        text-shadow: 0 10px 30px rgb(2 11 22 / 50%);
        font-weight: normal;
        font-size: 1.2rem;
        @media screen and (min-width: $sm_breakpoint) {
            font-size: 2.4rem;
            line-height: 1.4;
        }

        @media screen and (min-width: $md_breakpoint) {
            width: 60%;
            font-size: 2.8rem;
            letter-spacing: 0.1rem;
        }
        @media screen and (min-width: $xl_breakpoint) {
        }
    }
    .email {
        display: inline;
        cursor: pointer;
        pointer-events: visible;
        transition: all 0.2s ease;
        &:hover {
            color: $grey;

            transition: all 0.2s ease;
        }
    }
}

.current-slide-number {
    display: none;
    @media screen and (min-width: $sm_breakpoint) {
        font-size: 10rem;
        display: block;
    }
    @media screen and (min-width: $lg_breakpoint) {
        font-size: 12rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        font-size: 13rem;
    }

    position: absolute;
    // overflow-y: hidden;
    right: -5%;
    bottom: -20%;
    font-family: "Abril Fat";
    font-weight: 500;

    color: white;
    line-height: 1.1;
    text-shadow: 0 10px 30px rgb(2 11 22 / 50%);
    z-index: 201; //greater z index than transition--dark
}

.current-slide-image {
    opacity: 0;
}
