$fallback-fonts: helvetica, arial, sans-serif;

$spotify-grey: #b3b3b3;
$spotify-black: #121212;
$spotify-light-black: #181818;
//BREAKPOINT
$sm-breakpoint: 520px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
