/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /*If default font-size is 16px; 1 rem = 10 px*/
  box-sizing: inherit;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin-top: 5rem;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template,
[hidden] {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
body {
  margin: 0;
  background: linear-gradient(to bottom, #072142, #061c37, #07182b, #061220, #020b16);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  /*If default font-size is 16px; 1 rem = 10 px*/
  font-size: 62.5%;
}

body {
  /*Make default font-size bigger. If default font-size is 16px; 1.6 rem = 16 px*/
  font: 1.1rem "Futura Medium", helvetica, arial, sans-serif;
}

@font-face {
  font-family: "Futura Medium";
  src: url(../fonts/FuturaMedium.otf) format("opentype");
}
@font-face {
  font-family: "Futura-Dem";
  src: url(../fonts/Futura-Dem.woff) format("woff");
}
@font-face {
  font-family: "Futura-Boo";
  src: url(../fonts/Futura-Boo.woff) format("woff");
}
@font-face {
  font-family: "Gramatika Bold";
  src: url(../fonts/GramatikaBold.woff2) format("woff2");
}
@font-face {
  font-family: "Sofia Pro";
  src: url(../fonts/SofiaProSoftRegular.woff2) format("woff2");
}
.transitionRed {
  background-color: red;
  height: 100%;
  width: 5rem;
  position: absolute;
  top: 0;
  left: 0;
}

.transitionDark {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, #072142, #061c37, #07182b, #061220, #020b16);
  height: 100%;
  overflow: hidden;
  z-index: 200;
}

.contentSlideContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.overwatch2SlideParentContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contentImageAndTextWrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 3.5rem;
}
@media screen and (min-width: 380px) {
  .contentImageAndTextWrap {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 520px) {
  .contentImageAndTextWrap {
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .contentImageAndTextWrap {
    padding-left: 6rem;
  }
}

.contentTitle {
  position: relative;
  margin: 0;
  font-size: 4.6rem;
  font-weight: bold;
  bottom: 0;
  left: 0;
  line-height: 1;
  letter-spacing: 1rem;
  margin-bottom: 1.6rem;
  font-weight: normal;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
}
@media screen and (min-width: 520px) {
  .contentTitle {
    font-weight: normal;
    font-size: 7.6rem;
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .contentTitle {
    font-size: 8rem;
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .contentTitle {
    font-size: 10rem;
  }
}
@media screen and (min-width: 1200px) {
  .contentTitle {
    font-size: 12rem;
    letter-spacing: 1.5rem;
  }
}

.contentImage {
  position: relative;
  margin-top: 5rem;
  width: 100%;
  height: 48vh;
}
@media screen and (min-width: 520px) {
  .contentImage {
    margin-top: 13rem;
    position: absolute;
    height: 60%;
    top: 0;
    width: 65%;
  }
}
@media screen and (min-width: 768px) {
  .contentImage {
    width: 60%;
    height: 60%;
  }
}
@media screen and (min-width: 992px) {
  .contentImage {
    height: 60%;
    margin-right: 10rem;
  }
}
@media screen and (min-width: 1200px) {
  .contentImage {
    margin-right: 10rem;
    height: 65%;
  }
}
.contentImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.redBlocksWrap {
  display: block;
}

.redBlock {
  width: 8.8rem;
  height: 0.4rem;
  border-radius: 5px;
  background: #ff4d5a;
  margin-bottom: 1rem;
}

.secondRedBlock {
  margin-left: 4rem;
}

.contentTextWrap {
  position: relative;
  top: -6rem;
  left: -1.5rem;
  width: 100%;
  height: 100%;
  text-align: left;
  margin-top: 1rem;
  color: white;
  letter-spacing: 0.1rem;
  text-align: left;
}
@media screen and (min-width: 520px) {
  .contentTextWrap {
    position: relative;
    left: 2rem;
    top: 20%;
  }
}

.emailAndContactWrap {
  margin-top: 2.4rem;
}
.emailAndContactWrap .email,
.emailAndContactWrap .contactPhone {
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
  font-weight: normal;
  font-size: 1.2rem;
}
@media screen and (min-width: 520px) {
  .emailAndContactWrap .email,
.emailAndContactWrap .contactPhone {
    font-size: 2.4rem;
    line-height: 1.4;
  }
}
@media screen and (min-width: 768px) {
  .emailAndContactWrap .email,
.emailAndContactWrap .contactPhone {
    width: 60%;
    font-size: 2.8rem;
    letter-spacing: 0.1rem;
  }
}
.emailAndContactWrap .email {
  display: inline;
  cursor: pointer;
  pointer-events: visible;
  transition: all 0.2s ease;
}
.emailAndContactWrap .email:hover {
  color: #828c96;
  transition: all 0.2s ease;
}
.emailAndContactWrap .contactPhone {
  margin-top: 1rem;
}

.contentDesc {
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
  font-weight: normal;
  font-size: 1.2rem;
}
@media screen and (min-width: 520px) {
  .contentDesc {
    font-size: 2rem;
    line-height: 1.4;
    width: 40%;
  }
}
@media screen and (min-width: 768px) {
  .contentDesc {
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
  }
}

.showMoreButton {
  pointer-events: visible;
  font-size: 1.4rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 5rem;
  color: #fff;
  background: #ff4d5a;
  cursor: pointer;
  border: none;
  outline: none !important;
  box-shadow: none !important;
}
@media screen and (min-width: 520px) {
  .showMoreButton {
    font-size: 1.8rem;
    padding: 1.8rem 3.2rem;
  }
}

.overwatch2SlideLandingParentContainer {
  height: 100%;
  width: 100%;
}

.meBackground {
  position: absolute;
  border-radius: 0.25rem;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 70%;
  object-fit: cover;
  object-position: 50% 0%;
}
@media screen and (min-width: 520px) {
  .meBackground {
    top: 50%;
    width: 50%;
  }
}

.landingNameAndRoleWrap {
  position: absolute;
  width: 36rem;
  height: 36rem;
  position: absolute;
  top: 20%;
  left: 15%;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
  width: 50%;
}
@media screen and (min-width: 520px) {
  .landingNameAndRoleWrap {
    width: 35%;
  }
}
@media screen and (min-width: 992px) {
  .landingNameAndRoleWrap {
    width: 30%;
    top: 10%;
    left: 15%;
  }
}
@media screen and (min-width: 1200px) {
  .landingNameAndRoleWrap {
    left: 15%;
  }
}

.landingName {
  font-size: 3.8rem;
  line-height: 1;
  letter-spacing: 0.1em;
  margin-bottom: 1.6rem;
  font-weight: normal;
}
@media screen and (min-width: 520px) {
  .landingName {
    font-size: 6rem;
  }
}
@media screen and (min-width: 768px) {
  .landingName {
    font-size: 7.6rem;
  }
}
@media screen and (min-width: 992px) {
  .landingName {
    font-size: 12rem;
  }
}

.landingRole {
  text-transform: lowercase;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
}
@media screen and (min-width: 520px) {
  .landingRole {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 768px) {
  .landingRole {
    font-size: 2.8rem;
  }
}
@media screen and (min-width: 992px) {
  .landingRole {
    font-size: 2.8rem;
  }
}

.backWrap {
  display: flex;
  padding: 2rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
}

.backInnerWrap {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.backInnerWrap .backBox {
  width: 10rem;
  height: 0.25rem;
  background-color: black;
  margin-right: 2rem;
}
.backInnerWrap h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: black;
  font-weight: 200;
  letter-spacing: 0.4rem;
}

.backPurpleDarkBackground {
  background: #02021e;
  color: white;
}

.whiteBackBox {
  background-color: white !important;
}

.whiteBackText {
  color: white !important;
}

.overwatch2SlideContainer {
  position: absolute;
  top: -10%;
  right: -10vw;
  width: 120vw;
  height: 120%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.embla {
  position: relative;
  background-image: transparent;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  pointer-events: none;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  user-select: none;
  height: 100vh;
  width: 100vw;
}

.embla__slide {
  position: relative;
  height: 100%;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}

.dot-is-selected {
  background: white;
  transition: all 4s ease-in;
  padding: 0rem 6.5rem 0 0 !important;
}

.overwatch2DotWrapAndButton {
  pointer-events: visible;
  position: absolute;
  top: 80%;
  right: 20vw;
  transform: translateX(-50%) rotate(270deg);
}
@media screen and (min-width: 380px) {
  .overwatch2DotWrapAndButton {
    right: 30vw;
  }
}
@media screen and (min-width: 520px) {
  .overwatch2DotWrapAndButton {
    right: 35vw;
  }
}
@media screen and (min-width: 768px) {
  .overwatch2DotWrapAndButton {
    right: 38vw;
  }
}
@media screen and (min-width: 992px) {
  .overwatch2DotWrapAndButton {
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
  }
}

.overwatch2DotWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
}

.overwatch2DotParentWrap {
  position: relative;
  margin-bottom: 3rem;
}
.overwatch2DotParentWrap:first-of-type {
  margin-top: 3rem;
}

.overwatch2Dot {
  border-radius: 0.25rem;
  width: 3rem;
  height: 0.3rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
  outline: none !important;
  background: white;
  transition: all 0.5s ease-in;
}

.overwatch2SlideInner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.moonAndStarWrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 110vw;
  height: 120vh;
}

.moonLayer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  color: white;
  background: url(../img/svg/moonlight.svg);
  background-repeat: no-repeat;
  background-size: 150% 200%;
  background-position: 30% 0%;
  width: 100%;
  height: 100%;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.02);
  }
}
.star {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  color: white;
  background: url(../img/svg/star.svg);
  background-repeat: no-repeat;
  background-size: 150% 200%;
  background-position: 30% 0%;
  width: 100%;
  height: 100%;
  animation: glow 2s infinite alternate;
}

.carouselNextPrevButtonHide {
  visibility: hidden;
  pointer-events: none;
}

.scrollDownLandingWrap {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: -6rem;
  top: 50%;
}
@media screen and (min-width: 400px) {
  .scrollDownLandingWrap {
    left: initial;
    right: -5rem;
  }
}
@media screen and (min-width: 520px) {
  .scrollDownLandingWrap {
    right: initial;
    left: -9rem;
    top: 50%;
  }
}
.scrollDownLandingWrap h1 {
  text-transform: uppercase;
  min-width: 8rem;
  font-size: 1.2rem;
  margin: 0;
  margin-right: 0.5rem;
  width: 9rem;
}
@media screen and (min-width: 520px) {
  .scrollDownLandingWrap h1 {
    width: 10rem;
    font-size: 1.4rem;
    margin-right: 2rem;
  }
}
.scrollDownLandingWrap .scrollDownLandingBlock {
  width: 10rem;
  height: 0.1rem;
  background-color: white;
}

.detailBanner {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 15rem;
  background: #020b16;
}
@media screen and (min-width: 520px) {
  .detailBanner {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 0rem;
  }
}
.detailBanner img {
  object-fit: cover;
  height: 70vh;
  width: 100%;
}
@media screen and (min-width: 520px) {
  .detailBanner img {
    width: 60%;
    height: 100vh;
  }
}

.scrollDownWrap {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 60%;
  top: 80%;
}
@media screen and (min-width: 400px) {
  .scrollDownWrap {
    left: 65%;
  }
}
@media screen and (min-width: 520px) {
  .scrollDownWrap {
    left: -8rem;
    top: 50%;
  }
}
.scrollDownWrap h1 {
  text-transform: uppercase;
  min-width: 8rem;
  font-size: 1.2rem;
  margin: 0;
  margin-right: 0.5rem;
  width: 9rem;
}
@media screen and (min-width: 520px) {
  .scrollDownWrap h1 {
    width: 10rem;
    font-size: 1.4rem;
    margin-right: 2rem;
  }
}
.scrollDownWrap .scrollDownBlock {
  width: 10rem;
  height: 0.1rem;
  background-color: white;
}

.detailTitleWrap {
  position: relative;
  margin: 0;
  display: inline;
  top: -2.5rem;
  left: 1.5rem;
}
@media screen and (min-width: 520px) {
  .detailTitleWrap {
    position: absolute;
    width: 70%;
    top: 15%;
    left: 8%;
  }
}
@media screen and (min-width: 992px) {
  .detailTitleWrap {
    left: 8%;
    width: 50%;
  }
}

.detailTitle {
  display: inline;
  font-size: 3.8rem;
  letter-spacing: 1rem;
  font-weight: normal;
  text-shadow: 0 3px 10px rgba(2, 11, 22, 0.5);
  left: 1.5rem;
  margin-bottom: 4rem;
}
@media screen and (min-width: 520px) {
  .detailTitle {
    font-size: 6rem;
  }
}
@media screen and (min-width: 992px) {
  .detailTitle {
    font-size: 7.6rem;
  }
}
@media screen and (min-width: 992px) {
  .detailTitle {
    font-size: 12rem;
  }
}

.detailDesc {
  margin-top: 4rem;
  margin-bottom: 4rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  width: 60%;
}
@media screen and (min-width: 520px) {
  .detailDesc {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 768px) {
  .detailDesc {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 992px) {
  .detailDesc {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .detailDesc {
    font-size: 2.8rem;
  }
}

nav {
  position: relative;
  z-index: 200;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background: transparent;
  padding: 1rem 4rem;
}
@media screen and (min-width: 520px) {
  nav {
    padding: 1rem 4.5rem;
  }
}

.nameAndBurgerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backButton {
  cursor: pointer;
  position: relative;
  left: -3.5rem;
  font-size: 3rem;
  color: black;
}
@media screen and (min-width: 520px) {
  .backButton {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .backButton {
    font-size: 4rem;
  }
}

.backButtonWhite {
  transition: all 0.2s ease;
  color: white;
}

.backButtonBlack {
  transition: all 0.2s ease;
  color: black;
}

.headerName {
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 520px) {
  .headerName {
    font-size: 2.4rem;
  }
}

.hamburger {
  font-size: 3rem;
  font-weight: normal;
  color: white;
}

.burger {
  position: relative;
  width: 2.5rem;
  height: 22px;
  cursor: pointer;
}
@media screen and (min-width: 520px) {
  .burger {
    width: 5rem;
  }
}
.burger .firstLine {
  width: 100%;
  height: 0.2rem;
  background: #fff;
  position: absolute;
}
@media screen and (min-width: 520px) {
  .burger .firstLine {
    height: 0.3rem;
  }
}
.burger .secondLine {
  width: 100%;
  height: 0.2rem;
  background: #fff;
  position: absolute;
  right: 0;
}
@media screen and (min-width: 520px) {
  .burger .secondLine {
    height: 0.3rem;
  }
}

.burgerDropdown {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
}
.burgerDropdown h1 {
  position: relative;
  overflow: hidden;
  display: inline;
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  text-align: center;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.2);
}
@media screen and (min-width: 768px) {
  .burgerDropdown h1 {
    letter-spacing: 1rem;
    font-size: 5.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .burgerDropdown h1 {
    letter-spacing: 2rem;
    font-size: 6rem;
  }
}

.dropdownTitleWrap {
  position: relative;
  width: 100%;
  text-align: center;
}

.crossTitle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 1rem;
  background: white;
}

.dropdownTitleWrap {
  margin-bottom: 2rem;
}
.dropdownTitleWrap h1 {
  cursor: pointer;
}

.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 999;
  color: white;
}
.loadingContainer h1 {
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  padding: 1rem 4rem;
}
@media screen and (min-width: 768px) {
  .loadingContainer h1 {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 520px) {
  .loadingContainer h1 {
    padding: 1rem 4.5rem;
  }
}

.detailCareerContainer {
  background: white;
}

.careerContentWrap {
  position: relative;
  z-index: 1;
  color: black;
  padding: 5rem 4rem;
}
@media screen and (min-width: 768px) {
  .careerContentWrap {
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem 7rem;
  }
}
@media screen and (min-width: 992px) {
  .careerContentWrap {
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem 15rem;
  }
}

.detailCareerGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 10rem;
}
@media screen and (min-width: 768px) {
  .detailCareerGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.careerGridTitle {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  color: #072142;
  letter-spacing: 0.2em;
  line-height: 1.2;
}
@media screen and (min-width: 520px) {
  .careerGridTitle {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .careerGridTitle {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .careerGridTitle {
    font-size: 2.4rem;
  }
}

.careerColWrap p {
  font-family: "Futura-Boo";
  margin: 0;
  line-height: 2;
  font-size: 1.3rem;
  color: grey;
}
@media screen and (min-width: 520px) {
  .careerColWrap p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .careerColWrap p {
    font-size: 1.8rem;
  }
}

.careerDate {
  text-transform: uppercase;
}

.careerColWrap {
  color: #828c96;
}

.accomplishmentColWrap ul {
  padding-left: 0rem;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .accomplishmentColWrap ul {
    padding-left: 0rem;
  }
}
.accomplishmentColWrap ul li {
  font-family: "Futura-Boo";
  line-height: 1.5;
  margin-bottom: 1.3rem;
  font-size: 1.3rem;
}
.accomplishmentColWrap ul li:before {
  content: "- ";
}
@media screen and (min-width: 520px) {
  .accomplishmentColWrap ul li {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .accomplishmentColWrap ul li {
    font-size: 1.8rem;
  }
}

.detailAboutMeContainer {
  background: white;
}

.aboutMeWrap {
  position: relative;
  z-index: 1;
  color: black;
  display: grid;
  padding-top: 10rem;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 10rem;
}
@media screen and (min-width: 768px) {
  .aboutMeWrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

.myStoryWrap .myStoryInnerWrap {
  display: flex;
}
.myStoryWrap .myStoryInnerWrap .myStoryBlock {
  margin: auto 0;
  background: black;
  height: 0.25rem;
  width: 6rem;
  margin-right: 2rem;
}
@media screen and (min-width: 520px) {
  .myStoryWrap .myStoryInnerWrap .myStoryBlock {
    width: 10rem;
  }
}
.myStoryWrap .myStoryInnerWrap h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1.4rem;
}
@media screen and (min-width: 520px) {
  .myStoryWrap .myStoryInnerWrap h1 {
    font-size: 3rem;
  }
}

.aboutMeImageAndDescWrap {
  padding: 0rem 5rem;
}
@media screen and (min-width: 520px) {
  .aboutMeImageAndDescWrap {
    padding-right: 5rem;
  }
}
@media screen and (min-width: 992px) {
  .aboutMeImageAndDescWrap {
    padding-right: 10rem;
  }
}
@media screen and (min-width: 1200px) {
  .aboutMeImageAndDescWrap {
    padding-right: 15rem;
  }
}
.aboutMeImageAndDescWrap h1 {
  margin: 0;
  margin-top: 5rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .aboutMeImageAndDescWrap h1 {
    margin: 0;
  }
}
.aboutMeImageAndDescWrap p {
  line-height: 2;
  font-family: "Futura-Boo";
  font-size: 1.3rem;
  color: #828c96;
}
@media screen and (min-width: 520px) {
  .aboutMeImageAndDescWrap p {
    font-size: 1.6rem;
  }
}
.aboutMeImageAndDescWrap img {
  margin-top: 3rem;
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 63px 154px -20px rgba(7, 33, 66, 0.5);
}
@media screen and (min-width: 520px) {
  .aboutMeImageAndDescWrap img {
    margin-top: 5rem;
  }
}

.detailProjectsContainer {
  background-color: #02021e;
  position: relative;
}

.projectImageAndOverviewWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .projectImageAndOverviewWrap {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.projectImageContainer {
  position: relative;
  transition: all 0.5s ease;
  width: 100vw;
  height: 46rem;
  background: #3718cb;
  cursor: pointer;
  overflow: hidden;
}
.projectImageContainer:hover {
  transition: all 0.5s ease;
  transform: scale(0.9);
}
@media screen and (min-width: 768px) {
  .projectImageContainer {
    width: 60vw;
    height: 70rem;
  }
}
.projectImageContainer img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 80%;
  height: 80%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .projectImageContainer img {
    left: 45%;
  }
}

.projectsWrap {
  position: relative;
  z-index: 1;
}

.projectsWrap,
.projectContainer {
  background: #02021e;
}

.projectContainer {
  position: relative;
  color: white;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .projectContainer {
    margin-bottom: 15rem;
  }
}
@media screen and (min-width: 1200px) {
  .projectContainer {
    margin-bottom: 20rem;
  }
}
@media screen and (min-width: 768px) {
  .projectContainer:nth-child(even) .projectImageAndOverviewWrap {
    flex-direction: row-reverse;
  }
}
.projectContainer:nth-child(even) .projectOverviewWrap {
  left: initial;
}
@media screen and (min-width: 768px) {
  .projectContainer:nth-child(even) .projectOverviewWrap {
    right: -5rem;
  }
}
@media screen and (min-width: 992px) {
  .projectContainer:nth-child(even) .projectOverviewWrap {
    right: -7rem;
  }
}
@media screen and (min-width: 768px) {
  .projectContainer:nth-child(even) img {
    left: 60%;
  }
}

.showGitHubAndExternalWrap {
  display: flex;
  align-items: center;
  color: white;
  margin-top: 1rem;
}
.showGitHubAndExternalWrap h2 {
  font-weight: 900;
  font-size: 1.3rem;
  margin-right: 1rem;
}
.showGitHubAndExternalWrap .githubAndExternalIcon {
  font-weight: 400;
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 2rem;
}
@media screen and (min-width: 768px) {
  .showGitHubAndExternalWrap .githubAndExternalIcon {
    font-size: 2.5rem;
  }
}

.projectOverviewWrap {
  position: relative;
  width: 100vw;
  padding: 3rem;
}
@media screen and (min-width: 520px) {
  .projectOverviewWrap {
    padding: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .projectOverviewWrap {
    padding: 0;
    top: 15rem;
    width: 40vw;
    left: -5rem;
  }
}
@media screen and (min-width: 992px) {
  .projectOverviewWrap {
    left: -7rem;
  }
}
.projectOverviewWrap .projectTitle {
  font-family: "Gramatika Bold", "sans-serif";
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  font-weight: 900;
}
@media screen and (min-width: 520px) {
  .projectOverviewWrap .projectTitle {
    margin-bottom: 1rem;
    font-size: 2.8rem;
  }
}
@media screen and (min-width: 768px) {
  .projectOverviewWrap .projectTitle {
    font-size: 3rem;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1200px) {
  .projectOverviewWrap .projectTitle {
    font-size: 3.6rem;
  }
}
.projectOverviewWrap .projectStack {
  font-family: "Gramatika Bold", "sans-serif";
  text-align: left;
  font-weight: bold;
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0;
  line-height: 1.3;
}
@media screen and (min-width: 1200px) {
  .projectOverviewWrap .projectStack {
    font-size: 2rem;
  }
}
.projectOverviewWrap .showProjectDesc {
  font-family: "Sofia Pro";
  display: block;
  font-weight: normal;
  margin-top: 1rem;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #ccccd2;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .projectOverviewWrap .showProjectDesc {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .projectOverviewWrap .showProjectDesc {
    font-size: 1.8rem;
  }
}

.carouselAndSvgWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/*# sourceMappingURL=main.css.map */
