/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /*If default font-size is 16px; 1 rem = 10 px*/
  box-sizing: inherit;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin-top: 5rem;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template,
[hidden] {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
body {
  margin: 0;
  background-image: linear-gradient(to bottom, #072142, #061c37, #07182b, #061220, #020b16);
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  /*If default font-size is 16px; 1 rem = 10 px*/
  font-size: 62.5%;
}

body {
  /*Make default font-size bigger. If default font-size is 16px; 1.6 rem = 16 px*/
  font: 1.1rem "Futura Medium", helvetica, arial, sans-serif;
}

@font-face {
  font-family: "Futura Medium";
  src: url(../fonts/FuturaMedium.otf) format("opentype");
}
.overwatch2SlideExploreDetailsContainer {
  position: relative;
  font-family: "Config", sans-serif;
  color: black;
  background: white;
}
@media screen and (min-width: 992px) {
  .overwatch2SlideExploreDetailsContainer {
    display: flex;
    flex-direction: row-reverse;
    height: 80rem;
  }
}

.overwatch2SlideExploreDetailsTextContainer {
  padding: 2rem 4rem;
  padding-top: 0rem;
}
@media screen and (min-width: 520px) {
  .overwatch2SlideExploreDetailsTextContainer {
    padding: 2rem 6rem;
    padding-top: 0rem;
  }
}
@media screen and (min-width: 992px) {
  .overwatch2SlideExploreDetailsTextContainer {
    padding: 2rem 4rem;
    padding-top: 0rem;
    width: 40%;
  }
}
@media screen and (min-width: 1200px) {
  .overwatch2SlideExploreDetailsTextContainer {
    padding: 2rem 5rem;
    padding-top: 0rem;
  }
}

.overwatch2SlideExploreDetailsText {
  font-size: 1.5rem;
  line-height: 1.5;
}
@media screen and (min-width: 520px) {
  .overwatch2SlideExploreDetailsText {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 992px) {
  .overwatch2SlideExploreDetailsText {
    font-size: rem;
  }
}

.overwatch2SlideExploreDetailsTitleWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
}
@media screen and (min-width: 520px) {
  .overwatch2SlideExploreDetailsTitleWrap {
    padding: 2rem 5rem;
  }
}
@media screen and (min-width: 768px) {
  .overwatch2SlideExploreDetailsTitleWrap {
    padding: 2rem 15rem;
  }
}
@media screen and (min-width: 992px) {
  .overwatch2SlideExploreDetailsTitleWrap {
    display: block;
    cursor: pointer;
    position: relative;
    color: white;
    background: black;
    margin-top: 1rem;
    padding: 0.8rem;
  }
}

@media screen and (min-width: 992px) {
  .overwatch2SlideExploreDetailsTitleSelected {
    border-left: 8px solid #f06414;
  }
}

.overwatch2SlideExploreDetailsHeader {
  font-style: italic;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2rem;
  z-index: -1;
}

.overwatch2SlideExploreDetailsTitle {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  margin-right: auto;
}
@media screen and (min-width: 520px) {
  .overwatch2SlideExploreDetailsTitle {
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 992px) {
  .overwatch2SlideExploreDetailsTitle {
    margin-right: 0;
  }
}

.overwatch2SlideExploreDetailsSlideImage {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 992px) {
  .overwatch2SlideExploreDetailsSlideImage {
    width: 60%;
  }
}

.overwatch2SideExploreDetailsBackButton {
  position: absolute;
  cursor: pointer;
  left: 2rem;
  top: 20rem;
  font-size: 4rem;
  color: white;
  transition: all 0.4s ease;
}
@media screen and (min-width: 520px) {
  .overwatch2SideExploreDetailsBackButton {
    top: 20rem;
    font-size: 6rem;
  }
}
@media screen and (min-width: 992px) {
  .overwatch2SideExploreDetailsBackButton {
    left: 90%;
    top: 3rem;
    font-size: 8rem;
  }
}
.overwatch2SideExploreDetailsBackButton:hover {
  transition: all 0.4s ease;
  transform: scale(1.1);
}

.transitionRed {
  background-color: red;
  height: 100%;
  width: 5rem;
  position: absolute;
  top: 0;
  left: 0;
}

.transitionDark {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, #072142, #061c37, #07182b, #061220, #020b16);
  height: 100%;
  overflow: hidden;
  z-index: 200;
}

.contentSlideContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.overwatch2SlideParentContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contentImageAndTextWrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}
@media screen and (min-width: 380px) {
  .contentImageAndTextWrap {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 520px) {
  .contentImageAndTextWrap {
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .contentImageAndTextWrap {
    padding-left: 6rem;
  }
}

.contentTitle {
  position: relative;
  margin: 0;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: bold;
  bottom: 0;
  left: 0;
  line-height: 1;
  letter-spacing: 0.1rem;
  margin-bottom: 1.6rem;
  font-weight: normal;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
}
@media screen and (min-width: 520px) {
  .contentTitle {
    font-weight: normal;
    font-size: 6rem;
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .contentTitle {
    font-size: 10rem;
    width: 40%;
  }
}
@media screen and (min-width: 1200px) {
  .contentTitle {
    font-size: 12rem;
  }
}

.contentImage {
  position: relative;
  margin-top: 5rem;
  width: 100%;
}
@media screen and (min-width: 520px) {
  .contentImage {
    margin-top: 13rem;
    position: absolute;
    height: 55%;
    top: 0;
    width: 60%;
    max-height: 70%;
    margin-right: 5rem;
  }
}
@media screen and (min-width: 768px) {
  .contentImage {
    width: 60%;
    height: 55%;
    margin-right: 10rem;
  }
}
@media screen and (min-width: 1200px) {
  .contentImage {
    margin-right: 10rem;
    height: 65%;
  }
}
.contentImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentTextWrap {
  position: relative;
  top: -3rem;
  width: 100%;
  height: 100%;
  text-align: left;
  margin-top: 1rem;
  color: white;
  letter-spacing: 0.1rem;
  text-align: left;
}
@media screen and (min-width: 520px) {
  .contentTextWrap {
    position: relative;
    left: 2rem;
    top: 6rem;
  }
}
.contentTextWrap .email,
.contentTextWrap .contactPhone {
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
  font-weight: normal;
  font-size: 1.2rem;
}
@media screen and (min-width: 520px) {
  .contentTextWrap .email,
.contentTextWrap .contactPhone {
    font-size: 2.4rem;
    line-height: 1.4;
  }
}
@media screen and (min-width: 768px) {
  .contentTextWrap .email,
.contentTextWrap .contactPhone {
    width: 60%;
    font-size: 2.8rem;
    letter-spacing: 0.1rem;
  }
}
.contentDesc {
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
  font-weight: normal;
  font-size: 1.2rem;
}
@media screen and (min-width: 520px) {
  .contentDesc {
    font-size: 2.4rem;
    line-height: 1.4;
    width: 40%;
  }
}
@media screen and (min-width: 768px) {
  .contentDesc {
    font-size: 2.8rem;
    letter-spacing: 0.1rem;
  }
}

.showMoreButton {
  font-size: 1.8rem;
  padding: 1.8rem 3.2rem;
  border-radius: 5rem;
  color: #fff;
  background: #ff4d5a;
  cursor: pointer;
  border: none;
  outline: none !important;
  box-shadow: none !important;
}

.overwatch2SlideLandingParentContainer {
  height: 100%;
  width: 100%;
}

.meBackground {
  position: absolute;
  border-radius: 0.25rem;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 70%;
  object-fit: cover;
  object-position: 50% 0%;
}
@media screen and (min-width: 520px) {
  .meBackground {
    top: 50%;
    width: 50%;
  }
}

.landingNameAndRoleWrap {
  position: absolute;
  width: 36rem;
  height: 36rem;
  position: absolute;
  top: 20%;
  left: 15%;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
  width: 50%;
}
@media screen and (min-width: 520px) {
  .landingNameAndRoleWrap {
    width: 35%;
  }
}
@media screen and (min-width: 992px) {
  .landingNameAndRoleWrap {
    width: 30%;
    top: 10%;
    left: 15%;
  }
}
@media screen and (min-width: 1200px) {
  .landingNameAndRoleWrap {
    left: 15%;
  }
}

.landingName {
  font-size: 3.8rem;
  line-height: 1;
  letter-spacing: 0.1em;
  margin-bottom: 1.6rem;
  font-weight: normal;
}
@media screen and (min-width: 520px) {
  .landingName {
    font-size: 6rem;
  }
}
@media screen and (min-width: 768px) {
  .landingName {
    font-size: 7.6rem;
  }
}
@media screen and (min-width: 992px) {
  .landingName {
    font-size: 12rem;
  }
}

.landingRole {
  text-transform: lowercase;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
}
@media screen and (min-width: 520px) {
  .landingRole {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 768px) {
  .landingRole {
    font-size: 2.8rem;
  }
}
@media screen and (min-width: 992px) {
  .landingRole {
    font-size: 2.8rem;
  }
}

.overwatch2SlideExploreParentContainer {
  height: 100%;
}

.overwatch2ExploreContainer {
  display: none;
}
@media screen and (min-width: 992px) {
  .overwatch2ExploreContainer {
    display: block;
  }
}

.overwatch2ExploreGround {
  position: absolute;
  bottom: -10%;
  left: -30rem;
  width: 120%;
  height: 100%;
  height: 120%;
}

.overwatch2ExploreCoast {
  position: absolute;
  bottom: -10%;
  left: -30rem;
  width: 120%;
  height: 100%;
}

.overwatch2ExploreShip {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .overwatch2ExploreShip {
    top: -10rem;
    left: -15rem;
    width: 80rem;
    height: 40rem;
  }
}
@media screen and (min-width: 1200px) {
  .overwatch2ExploreShip {
    top: -18rem;
    left: -10rem;
    width: 90rem;
    height: 50rem;
  }
}

.overwatch2ExploreTracer {
  position: absolute;
  cursor: pointer;
  transform: translateX(30%);
}
@media screen and (min-width: 992px) {
  .overwatch2ExploreTracer {
    left: -15rem;
    bottom: -1rem;
    width: 67rem;
    height: 57rem;
  }
}
@media screen and (min-width: 1200px) {
  .overwatch2ExploreTracer {
    left: -5rem;
    width: 81rem;
    height: 69rem;
  }
}

.overwatch2ExploreHighlightWhenOverlayIsOn {
  z-index: 2;
}

.exploreInfoTextWrap {
  display: flex;
  align-items: center;
  font-family: Config, sans-serif;
  padding: 0.5rem 1.5rem;
  position: absolute;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.333);
  border-radius: 5px;
}
.exploreInfoTextWrap h3 {
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
}

@media screen and (min-width: 992px) {
  .exploreTeamvsTeamTextWrap {
    bottom: 40rem;
    left: 60rem;
  }
}
@media screen and (min-width: 1200px) {
  .exploreTeamvsTeamTextWrap {
    bottom: 50rem;
    left: 90rem;
  }
}

@media screen and (min-width: 992px) {
  .exploreMissionsTextWrap {
    bottom: 30rem;
    right: 25rem;
  }
}
@media screen and (min-width: 1200px) {
  .exploreMissionsTextWrap {
    bottom: 25rem;
    right: 35rem;
  }
}

.overwatch2PlusCircleExplore {
  font-size: 3.5rem;
  color: white;
  margin-right: 1rem;
}

.overwatch2OverlayExplore {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overwatch2ExploreBot {
  position: absolute;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .overwatch2ExploreBot {
    bottom: 10rem;
    right: 15rem;
    width: 32rem;
    height: 26rem;
  }
}
@media screen and (min-width: 1200px) {
  .overwatch2ExploreBot {
    bottom: 10rem;
    right: 25rem;
    width: 39rem;
    height: 31rem;
  }
}

.overwatch2ExplorePodRight {
  position: absolute;
  right: 30rem;
  top: 0rem;
  width: 15rem;
  height: 15rem;
}

.overwatch2ExplorePodLeft {
  position: absolute;
  left: 30rem;
  top: 0rem;
  width: 15rem;
  height: 15rem;
}

.overwatch2Flier {
  position: absolute;
  right: 60rem;
  top: 20rem;
  width: 10rem;
  height: 10rem;
  animation: floatingFlier 2s infinite alternate;
}
@media screen and (min-width: 992px) {
  .overwatch2Flier {
    right: 40rem;
  }
}
@media screen and (min-width: 1200px) {
  .overwatch2Flier {
    bottom: 10rem;
    right: 36rem;
  }
}

@keyframes floatingFlier {
  from {
    transform: translate3d(0px, 10%, 0px);
  }
  to {
    transform: translate3d(0px, 0px, 0px);
  }
}
.overwatch2ExploreMobile {
  background: url(https://res.cloudinary.com/du8n2aa4p/image/upload/v1617242187/blizzard/overwatch2/slide%202%20-%20explore/menu-bg-SM.jpg);
  background-size: cover;
  height: 100%;
  padding: 2rem 1rem;
  padding-right: 6rem;
}
@media screen and (min-width: 768px) {
  .overwatch2ExploreMobile {
    padding: 4rem 6rem;
  }
}

.overwatch2ExploreMobileCard {
  display: flex;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
  transition-duration: 0.25s, 0.25s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  border-radius: 2px;
  color: black;
  margin-bottom: 2rem;
  border: 1px solid white;
}

.overwatch2ExploreMobileCardImageWrap {
  width: 10rem;
}
@media screen and (min-width: 768px) {
  .overwatch2ExploreMobileCardImageWrap {
    width: 20rem;
  }
}
.overwatch2ExploreMobileCardImageWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overwatch2ExploreMobileTextWrap {
  margin: auto 0;
  text-transform: uppercase;
  padding-left: 0.5rem;
  font-family: Config, sans-serif;
  margin-right: auto;
}
@media screen and (min-width: 520px) {
  .overwatch2ExploreMobileTextWrap {
    padding: 1rem;
  }
}

.overwatch2ExploreMobileCardSubTitle {
  font-weight: 700;
  font-size: 1.3rem;
  margin: 0;
}
@media screen and (min-width: 420px) {
  .overwatch2ExploreMobileCardSubTitle {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 520px) {
  .overwatch2ExploreMobileCardSubTitle {
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 768px) {
  .overwatch2ExploreMobileCardSubTitle {
    font-size: 2.6rem;
  }
}

.overwatch2ExploreMobileCardTitle {
  margin: 0;
  font-size: 1.2rem;
}
@media screen and (min-width: 420px) {
  .overwatch2ExploreMobileCardTitle {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 520px) {
  .overwatch2ExploreMobileCardTitle {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .overwatch2ExploreMobileCardTitle {
    font-size: 3rem;
  }
}

.overwatch2MobileArrowWrap {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  background-color: white;
  margin-right: -1px;
}

.overwatch2MobileArrow {
  margin: auto 0;
  font-size: 2.2rem;
}
@media screen and (min-width: 520px) {
  .overwatch2MobileArrow {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .overwatch2MobileArrow {
    font-size: 4rem;
  }
}

@media screen and (min-width: 992px) {
  .glimpseWrap {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 30%;
  }
}

.glimpseText {
  font-size: 2.8rem;
  line-height: 1;
  letter-spacing: 0.1em;
  margin-bottom: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (min-width: 520px) {
  .glimpseText {
    font-size: 3.8rem;
  }
}
@media screen and (min-width: 768px) {
  .glimpseText {
    font-size: 5rem;
  }
}
@media screen and (min-width: 992px) {
  .glimpseText {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1200px) {
  .glimpseText {
    font-size: 7rem;
  }
}

.glimpseTakenText {
  margin: 0;
  margin: 1rem 0;
  text-transform: lowercase;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .glimpseTakenText {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .glimpseTakenText {
    margin-bottom: 0;
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .glimpseTakenText {
    font-size: 2.8rem;
    padding-right: 30%;
  }
}

.overwatch2SlideExploreDetailsContainer {
  position: relative;
  font-family: "Config", sans-serif;
  color: black;
  background: white;
}
@media screen and (min-width: 992px) {
  .overwatch2SlideExploreDetailsContainer {
    display: flex;
    flex-direction: row-reverse;
    height: 80rem;
  }
}

.overwatch2SlideExploreDetailsTextContainer {
  padding: 2rem 4rem;
  padding-top: 0rem;
}
@media screen and (min-width: 520px) {
  .overwatch2SlideExploreDetailsTextContainer {
    padding: 2rem 6rem;
    padding-top: 0rem;
  }
}
@media screen and (min-width: 992px) {
  .overwatch2SlideExploreDetailsTextContainer {
    padding: 2rem 4rem;
    padding-top: 0rem;
    width: 40%;
  }
}
@media screen and (min-width: 1200px) {
  .overwatch2SlideExploreDetailsTextContainer {
    padding: 2rem 5rem;
    padding-top: 0rem;
  }
}

.overwatch2SlideExploreDetailsText {
  font-size: 1.5rem;
  line-height: 1.5;
}
@media screen and (min-width: 520px) {
  .overwatch2SlideExploreDetailsText {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 992px) {
  .overwatch2SlideExploreDetailsText {
    font-size: rem;
  }
}

.overwatch2SlideExploreDetailsTitleWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
}
@media screen and (min-width: 520px) {
  .overwatch2SlideExploreDetailsTitleWrap {
    padding: 2rem 5rem;
  }
}
@media screen and (min-width: 768px) {
  .overwatch2SlideExploreDetailsTitleWrap {
    padding: 2rem 15rem;
  }
}
@media screen and (min-width: 992px) {
  .overwatch2SlideExploreDetailsTitleWrap {
    display: block;
    cursor: pointer;
    position: relative;
    color: white;
    background: black;
    margin-top: 1rem;
    padding: 0.8rem;
  }
}

@media screen and (min-width: 992px) {
  .overwatch2SlideExploreDetailsTitleSelected {
    border-left: 8px solid #f06414;
  }
}

.overwatch2SlideExploreDetailsHeader {
  font-style: italic;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2rem;
  z-index: -1;
}

.overwatch2SlideExploreDetailsTitle {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  margin-right: auto;
}
@media screen and (min-width: 520px) {
  .overwatch2SlideExploreDetailsTitle {
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 992px) {
  .overwatch2SlideExploreDetailsTitle {
    margin-right: 0;
  }
}

.overwatch2SlideExploreDetailsSlideImage {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 992px) {
  .overwatch2SlideExploreDetailsSlideImage {
    width: 60%;
  }
}

.overwatch2SideExploreDetailsBackButton {
  position: absolute;
  cursor: pointer;
  left: 2rem;
  top: 20rem;
  font-size: 4rem;
  color: white;
  transition: all 0.4s ease;
}
@media screen and (min-width: 520px) {
  .overwatch2SideExploreDetailsBackButton {
    top: 20rem;
    font-size: 6rem;
  }
}
@media screen and (min-width: 992px) {
  .overwatch2SideExploreDetailsBackButton {
    left: 90%;
    top: 3rem;
    font-size: 8rem;
  }
}
.overwatch2SideExploreDetailsBackButton:hover {
  transition: all 0.4s ease;
  transform: scale(1.1);
}

.backWrap {
  display: flex;
  padding: 2rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
}

.backInnerWrap {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.backInnerWrap .backBox {
  width: 10rem;
  height: 0.25rem;
  background-color: black;
  margin-right: 2rem;
}
.backInnerWrap h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: black;
  font-weight: 200;
  letter-spacing: 0.4rem;
}

.storyTimelineContainer {
  position: relative;
  width: 35%;
  height: 100%;
}
@media screen and (min-width: 520px) {
  .storyTimelineContainer {
    width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .storyTimelineContainer {
    width: 50%;
  }
}

.storyTimelineProgress {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 0.8rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.storyTimelineProgressNotFilled {
  background-color: rgba(231, 222, 222, 0.8);
}

.storyTimelineProgressControl {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.storyTimelineProgressControlSectionWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  cursor: pointer;
}
.storyTimelineProgressControlSectionWrap:before {
  content: "";
  background: white;
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}

.storyTimelineProgressTitleWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.storyTimelineProgressTitle {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: normal;
  text-transform: lowercase;
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  .storyTimelineProgressTitle {
    font-size: 1.3rem;
    width: 12rem;
    margin-right: 16rem;
  }
}
@media screen and (min-width: 1200px) {
  .storyTimelineProgressTitle {
    font-size: 1.3rem;
    display: inline;
  }
}

.storyContainer {
  background-image: linear-gradient(to bottom, #072142, #061c37, #07182b, #061220, #020b16);
  position: relative;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .storyContainer {
    display: flex;
  }
}

.storyTextInnerWrap {
  width: 100%;
  display: flex;
  letter-spacing: 0.1rem;
  flex-direction: column;
  justify-content: center;
}

.storyTextWrap {
  padding-top: 8rem;
  width: 70%;
  height: 70%;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (min-width: 520px) {
  .storyTextWrap {
    width: 85%;
    height: 70%;
    padding-right: 0rem;
  }
}
@media screen and (min-width: 992px) {
  .storyTextWrap {
    width: 50%;
    height: 100%;
    padding: 1rem 4rem;
    padding-top: 8rem;
  }
}
.storyTextWrap .storyTitle {
  margin: 0;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
@media screen and (min-width: 520px) {
  .storyTextWrap .storyTitle {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 992px) {
  .storyTextWrap .storyTitle {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .storyTextWrap .storyTitle {
    font-size: 3rem;
  }
}
.storyTextWrap .storyDesc {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 2.1rem;
  padding-left: 2rem;
  letter-spacing: 0.2rem;
  line-height: 1.3;
}
@media screen and (min-width: 520px) {
  .storyTextWrap .storyDesc {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 768px) {
  .storyTextWrap .storyDesc {
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 992px) {
  .storyTextWrap .storyDesc {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .storyTextWrap .storyDesc {
    font-size: 2.7rem;
  }
}
.storyTextWrap .storyDesc li {
  margin-bottom: 2rem;
}

.overwatch2SlideCurrentExploreDetailWrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.overwatch2SlideCurrentExploreDetailWrap .overwatch2SlideCurrentExploreDetailDropdownText {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.9rem;
  margin: 0;
  margin-right: 0.5rem;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .overwatch2SlideCurrentExploreDetailWrap .overwatch2SlideCurrentExploreDetailDropdownText {
    font-size: 2.4rem;
  }
}
.overwatch2SlideCurrentExploreDetailWrap .overwatch2SlideCurrentExploreDetailArrowDown {
  font-size: 2rem;
  cursor: pointer;
}

.overwatch2SlideCurrentExploreDetailDropdown {
  position: absolute;
  overflow: hidden;
  top: 110%;
  background: #ff4d5a;
  border-radius: 0.25rem;
}
.overwatch2SlideCurrentExploreDetailDropdown p {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0;
  padding: 0.5rem 1.5rem;
  text-transform: lowercase;
  font-weight: bold;
}
@media screen and (min-width: 520px) {
  .overwatch2SlideCurrentExploreDetailDropdown p {
    font-size: 1.5rem;
  }
}
.overwatch2SlideCurrentExploreDetailDropdown p:hover {
  color: black;
}

.overwatch2SlideContainer {
  position: absolute;
  top: -10%;
  right: -10vw;
  width: 120vw;
  height: 120%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.overwatch2CarouselArrowUp,
.overwatch2CarouselArrowDown {
  font-size: 2rem;
}

.embla {
  position: relative;
  background-image: transparent;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  user-select: none;
  margin-top: -10px;
  height: 60rem;
}
@media screen and (min-width: 520px) {
  .embla__container {
    height: 70rem;
  }
}
@media screen and (min-width: 768px) {
  .embla__container {
    height: 70rem;
  }
}
@media screen and (min-width: 992px) {
  .embla__container {
    height: 75rem;
  }
}

.embla__slide {
  position: relative;
  height: 100%;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}

.dot-is-selected {
  background: white;
  transition: all 4s ease-in;
  padding: 0rem 6.5rem 0 0 !important;
}

.overwatch2DotWrapAndButton {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
}
@media screen and (min-width: 992px) {
  .overwatch2DotWrapAndButton {
    background: none;
  }
}

.overwatch2DotWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
}

.overwatch2DotParentWrap {
  position: relative;
  margin-bottom: 3rem;
}
.overwatch2DotParentWrap:first-of-type {
  margin-top: 3rem;
}

.overwatch2Dot {
  border-radius: 0.25rem;
  width: 3rem;
  height: 0.3rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
  outline: none !important;
  background: white;
  transition: all 0.5s ease-in;
}

.overwatch2SlideInner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.detailBanner {
  position: relative;
  width: 100%;
  padding-bottom: 15rem;
  background: #020b16;
}
@media screen and (min-width: 520px) {
  .detailBanner {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 0rem;
  }
}
.detailBanner img {
  object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 520px) {
  .detailBanner img {
    width: 60%;
    height: 100vh;
  }
}

.scrollDownWrap {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 65%;
  top: 80%;
}
@media screen and (min-width: 400px) {
  .scrollDownWrap {
    left: 75%;
  }
}
@media screen and (min-width: 520px) {
  .scrollDownWrap {
    left: -8rem;
    top: 50%;
  }
}
.scrollDownWrap h1 {
  min-width: 8rem;
  font-size: 1.4rem;
  margin: 0;
}
.scrollDownWrap .scrollDownBlock {
  margin-left: 2rem;
  width: 10rem;
  height: 0.1rem;
  background-color: white;
}

.backButton {
  cursor: pointer;
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 5rem;
  color: white;
}
@media screen and (min-width: 520px) {
  .backButton {
    top: 80%;
    font-size: 10rem;
    font-size: 6rem;
  }
}

.detailTitle {
  position: relative;
  margin: 0;
  top: -2.5rem;
  left: 1.5rem;
  display: inline;
  font-size: 3.8rem;
  letter-spacing: 1rem;
  font-weight: normal;
  text-shadow: 0 3px 10px rgba(2, 11, 22, 0.5);
}
@media screen and (min-width: 520px) {
  .detailTitle {
    position: absolute;
    width: 70%;
    top: 10%;
    left: 5%;
    font-size: 6rem;
  }
}
@media screen and (min-width: 992px) {
  .detailTitle {
    font-size: 7.6rem;
  }
}
@media screen and (min-width: 992px) {
  .detailTitle {
    font-size: 12rem;
    left: 8%;
    width: 50%;
  }
}

.careerDate {
  text-transform: uppercase;
}

.careerColWrap {
  color: #828c96;
}

.accomplishmentColWrap ul {
  padding-left: 2rem;
}
.accomplishmentColWrap ul li {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

nav {
  position: relative;
  z-index: 200;
  display: flex;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 1rem 4rem;
}

.headerName {
  font-size: 2.4rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
}

.hamburger {
  font-size: 3rem;
  font-weight: normal;
  color: white;
}

.burger {
  position: relative;
  width: 50px;
  height: 22px;
  cursor: pointer;
}
.burger .firstLine {
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
}
.burger .secondLine {
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  right: 0;
}

.detailCareerContainer {
  background: white;
}

.careerContentWrap {
  position: relative;
  z-index: 1;
  color: black;
  padding: 5rem 4rem;
}
@media screen and (min-width: 768px) {
  .careerContentWrap {
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem 7rem;
  }
}
@media screen and (min-width: 992px) {
  .careerContentWrap {
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem 15rem;
  }
}

.detailCareerGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 10rem;
}
@media screen and (min-width: 768px) {
  .detailCareerGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.careerGridTitle {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  color: #072142;
  letter-spacing: 0.2em;
  line-height: 1.2;
}
@media screen and (min-width: 520px) {
  .careerGridTitle {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .careerGridTitle {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .careerGridTitle {
    font-size: 2.4rem;
  }
}

.careerColWrap p {
  margin: 0;
  line-height: 2;
  font-size: 1.3rem;
  color: grey;
}
@media screen and (min-width: 768px) {
  .careerColWrap p {
    font-size: 1.8rem;
  }
}

.detailAboutMeContainer {
  background: white;
}

.aboutMeWrap {
  position: relative;
  z-index: 1;
  color: black;
  display: grid;
  padding-top: 10rem;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 10rem;
}
@media screen and (min-width: 768px) {
  .aboutMeWrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

.myStoryWrap .myStoryInnerWrap {
  display: flex;
}
.myStoryWrap .myStoryInnerWrap .myStoryBlock {
  margin: auto 0;
  background: black;
  height: 0.25rem;
  width: 6rem;
  margin-right: 2rem;
}
@media screen and (min-width: 520px) {
  .myStoryWrap .myStoryInnerWrap .myStoryBlock {
    width: 10rem;
  }
}
.myStoryWrap .myStoryInnerWrap h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1.4rem;
}
@media screen and (min-width: 520px) {
  .myStoryWrap .myStoryInnerWrap h1 {
    font-size: 3rem;
  }
}

.aboutMeImageAndDescWrap {
  padding: 0rem 5rem;
}
@media screen and (min-width: 520px) {
  .aboutMeImageAndDescWrap {
    padding-right: 5rem;
  }
}
@media screen and (min-width: 768px) {
  .aboutMeImageAndDescWrap {
    padding-right: 15rem;
  }
}
.aboutMeImageAndDescWrap h1 {
  margin: 0;
  margin-top: 5rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .aboutMeImageAndDescWrap h1 {
    margin: 0;
  }
}
.aboutMeImageAndDescWrap p {
  font-size: 1.4rem;
  color: #828c96;
}
.aboutMeImageAndDescWrap img {
  margin-top: 5rem;
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 63px 154px -20px rgba(7, 33, 66, 0.5);
}

.detailProjectsContainer {
  background-color: white;
}

.projectsWrap {
  position: relative;
  z-index: 1;
  padding: 5rem 1rem;
  background-color: white;
}
@media screen and (min-width: 520px) {
  .projectsWrap {
    padding: 5rem 5rem;
  }
}
@media screen and (min-width: 768px) {
  .projectsWrap {
    padding: 5rem 3rem;
  }
}
@media screen and (min-width: 992px) {
  .projectsWrap {
    padding: 5rem 5rem;
  }
}
@media screen and (min-width: 1200px) {
  .projectsWrap {
    padding: 5rem 8rem;
  }
}

.projectContainer,
discoPicture {
  position: relative;
  background-color: white;
  color: black;
}

.projectContainer {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .projectContainer {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .projectContainer {
    margin-bottom: 5rem;
  }
}

.projectImageAndOverviewWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .projectImageAndOverviewWrap {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.projectOverviewWrap {
  text-align: center;
}
.projectOverviewWrap .projectTitle {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 900;
  margin: 2rem 0 1rem 0;
}
@media screen and (min-width: 520px) {
  .projectOverviewWrap .projectTitle {
    font-size: 2rem;
    margin: 3rem 0 1rem 0;
  }
}
@media screen and (min-width: 768px) {
  .projectOverviewWrap .projectTitle {
    font-size: 2.3rem;
    line-height: 1.3;
    margin: 0 0 1rem 0;
  }
}
@media screen and (min-width: 992px) {
  .projectOverviewWrap .projectTitle {
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
  }
}
.projectOverviewWrap .projectStack {
  text-align: left;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  line-height: 1.3;
}
@media screen and (min-width: 520px) {
  .projectOverviewWrap .projectStack {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .projectOverviewWrap .projectStack {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .projectOverviewWrap .projectStack {
    font-size: 2rem;
    letter-spacing: 0.25rem;
  }
}
@media screen and (min-width: 768px) {
  .projectOverviewWrap {
    width: 50%;
    text-align: left;
  }
}

.projectImageContainer {
  width: 100%;
  height: 20rem;
}
@media screen and (min-width: 520px) {
  .projectImageContainer {
    height: 25rem;
  }
}
.projectImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .projectImageContainer {
    margin-right: 2rem;
    width: 50%;
    height: 35rem;
  }
}
@media screen and (min-width: 992px) {
  .projectImageContainer {
    width: 50%;
    margin-right: 2.5rem;
    height: 33rem;
  }
}

.showProjectDesc {
  display: block;
  font-weight: normal;
  margin-top: 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  color: #828c96;
  text-align: left;
}
@media screen and (min-width: 520px) {
  .showProjectDesc {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .showProjectDesc {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .showProjectDesc {
    font-size: 1.6rem;
  }
}

.hideProjectDesc,
.hideGitHubAndExternalWrap,
.showMoreButtonHide {
  display: none;
}

.showGitHubAndExternalWrap {
  display: flex;
  align-items: center;
  color: black;
  margin-top: 1rem;
}
.showGitHubAndExternalWrap h2 {
  font-weight: 900;
  font-size: 1.3rem;
  margin-right: 1rem;
}

.githubAndExternalIcon {
  font-weight: 400;
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 2rem;
}
@media screen and (min-width: 768px) {
  .githubAndExternalIcon {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
