.detailProjectsContainer {
    background-color: white;
    overflow: hidden;
    position: relative;
}

.projectImageAndOverviewWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $md_breakpoint) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.projectImageContainer {
    position: relative;
    transition: all 0.5s ease;
    &:hover {
        transition: all 0.5s ease;
        transform: scale(0.9);
    }
    width: 100vw;
    height: 46rem;
    background: #3718cb;
    @media screen and (min-width: $md_breakpoint) {
        width: 60vw;
        height: 70rem;
    }

    overflow: hidden;
    img {
        position: absolute;
        left: 50%;
        @media screen and (min-width: $md_breakpoint) {
            left: 45%;
        }

        transform: translateX(-50%);
        bottom: 0;

        width: 80%;
        height: 80%;
        object-fit: cover;
    }
}

.projectsWrap {
    position: relative;
    z-index: 1;
    padding: 5rem 1rem;
    background-color: white;
    @media screen and (min-width: $sm_breakpoint) {
        padding: 5rem 5rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        padding: 5rem 3rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        padding: 5rem 5rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        padding: 5rem 8rem;
    }
}

.projectsWrap,
.projectContainer {
    background: #02021e;
}
.projectContainer {
    position: relative;
    color: white;
    margin-bottom: 2rem;

    // @media screen and (min-width: $lg_breakpoint) {
    //     font-size: 2.5rem;
    // }
    @media screen and (min-width: $xl_breakpoint) {
        margin-bottom: 15rem;
    }

    &:nth-child(even) {
        .projectImageAndOverviewWrap {
            @media screen and (min-width: $md_breakpoint) {
                flex-direction: row-reverse;
            }
        }
        .projectOverviewWrap {
            left: initial;

            @media screen and (min-width: $md_breakpoint) {
                right: -2rem;
            }
            @media screen and (min-width: $lg_breakpoint) {
                right: -7rem;
            }
        }
        img {
            @media screen and (min-width: $md_breakpoint) {
                left: 60%;
            }
        }
    }
}

.showGitHubAndExternalWrap {
    display: flex;
    align-items: center;
    color: white;
    margin-top: 1rem;
    h2 {
        font-weight: 900;
        font-size: 1.3rem;
        margin-right: 1rem;
    }
    .githubAndExternalIcon {
        font-weight: 400;
        cursor: pointer;
        font-size: 2.2rem;
        margin-right: 2rem;
        @media screen and (min-width: $md_breakpoint) {
            font-size: 2.5rem;
        }
    }
}

.projectOverviewWrap {
    position: relative;

    width: 100vw;
    padding: 3rem;
    @media screen and (min-width: $sm_breakpoint) {
        padding: 4rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        padding: 0;
        top: 15rem;
        width: 40vw;
        left: -2rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        left: -7rem;
    }
    .projectTitle {
        font-family: "Gramatika Bold";

        font-size: 1.8rem;
        font-weight: 900;

        @media screen and (min-width: $sm_breakpoint) {
            font-size: 2.8rem;
        }
        @media screen and (min-width: $md_breakpoint) {
            font-size: 3rem;
            line-height: 1.3;
        }

        @media screen and (min-width: $xl_breakpoint) {
            font-size: 3.6rem;
        }
    }
    .projectStack {
        font-family: "Gramatika Bold";
        text-align: left;
        font-weight: bold;
        font-size: 1.6rem;
        font-weight: normal;
        margin: 0;
        line-height: 1.3;

        @media screen and (min-width: $sm_breakpoint) {
            font-size: 1.6rem;
        }
        // @media screen and (min-width: $md_breakpoint) {
        //     font-size: 1.6rem;
        // }

        @media screen and (min-width: $xl_breakpoint) {
            font-size: 2rem;
        }
    }

    .showProjectDesc {
        font-family: "Sofia Pro";
        display: block;
        font-weight: normal;
        margin-top: 1rem;
        font-size: 1.3rem;
        line-height: 1.5;
        color: #ccccd2;

        text-align: left;

        @media screen and (min-width: $sm_breakpoint) {
            font-size: 1.6rem;
        }
        @media screen and (min-width: $md_breakpoint) {
            font-size: 1.4rem;
        }
        // @media screen and (min-width: $lg_breakpoint) {
        //     font-size: 1.6rem;
        //     line-height: 2.2rem;
        // }
        @media screen and (min-width: $xl_breakpoint) {
            font-size: 1.8rem;
        }
    }
}
