.detail-career{
    background: white;
    &__content{
        position: relative;
        z-index: 1;
        color: black;
        padding: 5rem 4rem;
        @media screen and (min-width: $md_breakpoint) {
            grid-template-columns: repeat(3, 1fr);
            padding: 5rem 7rem;
        }
        @media screen and (min-width: $lg_breakpoint) {
            grid-template-columns: repeat(3, 1fr);
            padding: 5rem 15rem;
        }
        &-grid{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            @media screen and (min-width: $md_breakpoint) {
                grid-template-columns: repeat(3, 1fr);
            }
            margin-bottom: 10rem;
            &-col{
                p {
                    font-family: "Futura-Boo";
                    margin: 0;
                    line-height: 2;
                    font-size: 1.3rem;
                    @media screen and (min-width: $sm_breakpoint) {
                        font-size: 1.5rem;
                    }
                    color: grey;
                    @media screen and (min-width: $md_breakpoint) {
                        font-size: 1.8rem;
                    }
                }
                &-date{
                    text-transform: uppercase;
                }
                &-title{
                 
                    text-transform: uppercase;
                    @media screen and (min-width: $sm_breakpoint) {
                        font-size: 2rem;
                    }
                    @media screen and (min-width: $lg_breakpoint) {
                        font-size: 2.2rem;
                    }
                    @media screen and (min-width: $xl_breakpoint) {
                        font-size: 2.4rem;
                    }
                    font-size: 2rem;
                    font-weight: bold;
                    color: #072142;
                    letter-spacing: 0.2em;
                    line-height: 1.2;
                }
                &--acomplishment{
                    ul {
                        color: grey;
                        padding-left: 0rem;
                        list-style: none;
                
                        @media screen and (min-width: $md_breakpoint) {
                            padding-left: 0rem;
                        }
                        li {
                            font-family: "Futura-Boo";
                            line-height: 1.5;
                            margin-bottom: 1.3rem;
                
                            font-size: 1.3rem;
                            &:before {
                                content: "- ";
                            }
                            @media screen and (min-width: $sm_breakpoint) {
                                font-size: 1.5rem;
                            }
                            @media screen and (min-width: $md_breakpoint) {
                                font-size: 1.8rem;
                            }
                        }
                    }
                }
            }

        }
    }

}
